<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>
    Configuración cargada correctamente.
    <br>
    Se están obteniendo los movimientos actuales.
    <br>
    Cuando termine, se prodecerá automaticamente al registro en <a href="http://kaffeine.herokuapp.com/">Kaffeine</a>. Esto permitirá que la app no se ponga en estado "idle" (lo que evitaría el chequeo de nuevos movimientos).

    <script>
function redirect() {
  window.location.href = "kaffeine";
}

$( document ).ready(function() {
  setInterval(redirect, 15000);
});
    </script>
  </body>
</html>
