<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
   <title>Config</title>
  </head>
  <body>
    <h1>Introduce la informacion de tu cuenta ING-Direct</h1>
    Esta información se almacenara en claro el NDB de tu aplicación en Google App Engine.
		<br>

		<form action="config" method="POST">
			DNI:
			<input type="text" name="dni" value="dni"><br>
			Password:
			<input type="password" name="password" value="password"><br>
			Fecha de nacimiento. Ejemplo: 23/04/1982:
			<input type="text" name="fecha" value="fecha"><br><br>
			<input type="submit" value="Submit">
		</form>
  </body>
</html>
